<!--商品詳細-->
<div id="wrapper">
	<!--ジャンル検索欄-->
	<aside id="sidebar">
		<h3 class="heading">ジャンル検索</h3>
	    <article>
	    		<% @genres.each do |genre| %>
				<ul>
					<li><%= link_to genre.name, genre_path(genre.id) %></li>
				</ul>
				<% end %>
	    </article>
	</aside>
	<section id="main">
		<section class="content">
			<!--商品一覧-->
			<h3 class="heading">　<%= @genre.name %>一覧</h3>
			<% @items.each do |item| %>
				<%= render 'members/items/list', item: item %>
			<% end %>
		</section>
	</section>
</div>