<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<!--ジャンル検索欄-->
			<table class="table table-bordered">
				<tr>
					<th><strong>ジャンル検索</strong></th>
				</tr>
				<% @genres.each do |genre| %>
				<tr>
					<td><%= link_to genre.name, genre_path(genre.id) %></td>
				</tr>
				<% end %>
			</table>
		</div>
		<div class="col-xs-9">
			<!--商品一覧-->
			<h1><strong><%= @genre.name %>一覧</strong></h1>
				<div>
					<% @items.each do |item| %>
						<%= render 'members/items/list', item: item %>
					<% end %>
				</div>
		</div>
	</div>
</div>