<!--顧客側のトップページ-->
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<!--ジャンル検索欄-->
			<div>ジャンル検索</div>
			<% @genres.each do |genre| %>
					<%= link_to genre.name genre_path(genre.id)  %>
			<% end %>
		</div>
		<div class="col-xs-9">
			<!--メインページ-->
			<div class="top-image">
				<p>ようこそ、NaganoCakeへ！</p>
				<p>このサイトは、ケーキ販売のECサイトになります。</p>
				<p>会員でない方も商品の閲覧はできますが、</p>
				<p>購入には会員登録が必要になります。</p>
			</div>
			<div class="recommend-item">
				<h4>オススメ商品</h4>
				<% @items.each do |item| %>
					<%= render 'list', item: item %>
				<% end %>
			</div>
		</div>
	</div>
</div>