<div id="wrapper">
<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<h1>ご購入ありがとうございます</h1>
			<p><%= link_to "HOMEへ戻る", top_path_url %></p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>