<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1 style="text-align:center;">About</h1>
			<p style="text-align:center;">ながのCakeは全国発送可能なケーキ屋さんです。</p>
			<p style="text-align:center;">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
			<p style="text-align:center;">様々なバリエーションをご用意しております。</p>
			<p style="text-align:center;">また全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
			<p style="text-align:center;">ぜひご注文ください。</p>
			<div class="about-image">

			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>