<div class="list" style="height:100px; width:100px; margin:40px; float:left;">
	<%= link_to item_path(item.id) do  %>
		<div class="row">
			<%= attachment_image_tag item, :img, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
			<p><%= item.name %><p>
			<p><%= price_include_tax(item.price) %></p>
		</div>
	<% end %>
</div>
