<div id="wrapper">
	<!-- ジャンル検索 -->
	<aside id="sidebar">
		<h3 class="heading">ジャンル検索</h3>
	    <article>
	    		<% @genres.each do |genre| %>
				<ul>
					<li><%= link_to genre.name, genre_path(genre.id) %></li>
				</ul>
				<% end %>
	    </article>
	</aside>
	<!--商品一覧-->
	<section id="main">
		<section class="content">
			<h3 class="heading">　商品一覧</h3>
			<% @items.each do |item| %>
				<%= render 'list', item: item %>
			<% end %>
		</section>
	</section>
</div>