<h2>商品一覧</h2>(全×件)
<% @items.each do |item| %>
<%= attachment_image_tag item, :img, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
<h6>商品名</h6><%= item.name %>
<h6>値段</h6><%= item.price %>
<% end %>