<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<!--ジャンル検索欄-->
			<div>ジャンル検索</div>
 				<% @genres.each do |genre| %>
					<%= link_to genre.name, genre_path(genre.id)  %>
				<% end %>
		</div>
		<div class="col-xs-9">
			<!--商品一覧-->
			<h2><%= @genre.name %>一覧</h2>
				<div>
					<% @items.each do |item| %>
						
					<% end %>
				</div>
		</div>
	</div>
</div>