  <div class="row">
    <div class="col-xs-2"></div>
      <div class="col-xs-8">
       <strong style="text-align:center;"><h5>本当に退会しますか？</h5></strong>
       <p style="text-align:center;">退会すると、会員登録情報や</p>
       <p style="text-align:center;">これまでの購入履歴が閲覧できなくなります。</p>
       <p style="text-align:center;">退会する場合は、「退会する」をクリックしてください。</p>
      </div>
    <div class="col-xs-2"></div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
      <div class="col-xs-6">
        <tr >
          <th><%= link_to "退会しない", members_my_page_path, class:"btn btn-primary" %></th>
        </tr>
        <tr>
         <th><%= link_to "退会する", members_withdraw_path, method: :patch, class:"btn btn-danger" %></th>
        </tr>
      <div class="col-xs-2"></div>
    </div>
  </div>